BOT_TOKEN=8520036141:AAEBBQykxyyucFm3J-6c0XlY5lNeGqRgm_g
WEBHOOK_URL=https://liliumvpn.onrender.com
WEBAPP_URL=https://yourusername.github.io/liliumvpn
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres
CHANNEL_ID=@ProjectLilium
CKASSA_SHOP_ID=your_shop_id
CKASSA_SECRET=your_secret
CRYPTOBOT_TOKEN=your_cryptobot_token
